<div class="layer--dark layer--SMALL">
    <div class="container">
        <div class="bricks">
            <div class="bricks--layer bricks--layer--SMALL">
                <div class="bricks--item">
                    <h4><a class="text--white" href="/emerald">Emerald Tablets</a></h4>
                </div>
                <div></div>
                <div class="bricks--item">This is not my work, writing, or content. All content from the Tablets are from bibliotecapleyades.net.</div>
            </div>
        </div>
    </div>
</div>
