.page {
    &--navigation {
        display: flex;
        justify-content: space-between;
        padding: $spacing-unit 0;

        @include media-query($small-screen) {
            font-size: .875em;
        }
    }

    &--title {
      display: inline-block;
    }

    &--icon {
      display: block;
      width: 3em;
    }


}
