.text {
  &--white {
    color: $background-color;
  }

  &--success {
    color: $success;
  }

  &--charcoal {
    color: $charcoal;
  }
}

.spacing {
  &--bottom-p2 {
    padding-bottom: $spacing-unit;
    display: block;
  }
}
